<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/home.css">
    <title>Document</title>
</head>
<body>
    <h1>Welcome <%=clientUser%>.</h1>
    <h2>You have logged in <%=logInCount%> times.</h2>
    <form action="/logout">
        <button>logout</button>
    </form>
</body>
</html>