<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/accountControl.css">
    <title>Login</title>
</head>
<div id="wrapper">
<body>
    <h1>Register</h1>
    <form action="./register" method="POST" autocomplete="off">
        <input id="username" type="text" name="username" placeholder="Username"><br>
        <input type="password" name="password" placeholder="Password"><br>
        <button type="submit">Login</button>   <br>
        <a href="/login">Already have an account? Login</a>
    </form>
</body>
</div>
</html>